/build/
/dist/
test.zip
/build/PyGame/_pyi_gschema_compilation/
/build/PyGame/localpycs/
/build/PyGame/Analysis-00.toc
/build/PyGame/base_library.zip
/build/PyGame/COLLECT-00.toc
/build/PyGame/EXE-00.toc
/build/PyGame/loaders.cache
/build/PyGame/PKG-00.toc
/build/PyGame/PyGame
/build/PyGame/PyGame.pkg
/build/PyGame/PYZ-00.pyz
/build/PyGame/PYZ-00.toc
/build/PyGame/Tree-00.toc
/build/PyGame/Tree-01.toc
/build/PyGame/warn-PyGame.txt
/build/PyGame/xref-PyGame.html
/build/PyGame/